article.contact#contact.panel
  .wrapper.contact__grid       
    .contact__content
      h2.contact__content__title=home.data.contact_title
      h2.contact__content__title-mobile=home.data.contact_title_mobile
      .text!=PrismicDOM.RichText.asHtml(home.data.contact_tagline)
    figure.contact__media 
      img.contact__media__image(src=home.data.contact_image.url) 