footer
  .footer__wrapper
 
    nav
      ul.footer_navigation   
        li.footer__navigation__list__item 
          a.footer__navigation__list__link(href="#about") About Me

        li.footer__navigation__list__item
          a.footer__navigation__list__link(href="#faq") FAQ
          
        li.footer__navigation__list__item
          a.footer__navigation__list__link(href="#contact") Contact
    p.footer__copyright © 2021-present Elizabeth Tomlinson. All Rights Reserved.
    .footer__button__back-to-top 
      p Back to Top

