footer
  .footer__wrapper
    nav
      ul.footer_navigation   
        li.footer__navigation__list__item 
          a.footer__navigation__list__link(href="#about") About Me
        li.footer__navigation__list__item
          a.footer__navigation__list__link(href="#faq") FAQ
        li.footer__navigation__list__item
          a.footer__navigation__list__link(href="#contact") Contact
    p.footer__copyright © 2021-present Elizabeth Tomlinson. All Rights Reserved.
    .footer__button__back-to-top 
      a(href="#") Back to Top
      svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="#939393")
        path(d="M9 3.828L2.929 9.899 1.515 8.485 10 0l.707.707 7.778 7.778-1.414 1.414L11 3.828V20H9V3.828z")
