header.header
  .header__wrapper 
    .header__inner

      .header__navigation 
        nav#primary-navigation 
          ul.navigation__list
            li.navigation__list__item
              a.navigation__list__link(href="/counselling") Counselling

            li.navigation__list__item 
              a.navigation__list__link(href="#") About Me

            li.navigation__list__item
              a.navigation__list__link(href="#") Popular Questions
              
            li.navigation__list__item
              a.navigation__list__link(href="#") Contact

