.loading
  h1.splash-title Elizabeth Tomlinson Counselling

svg.mask(viewBox="0 0 100 100" preserveAspectRatio="none")
  path(class="path" fill="white" vector-effect="non-scaling-stroke" d="M 0 100 V 100 Q 50 100 100 100 V 100 z")
