.footer__wrapper {
  max-width: 122rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // border-top: solid 1px $color-light-grey;
  padding-top: 3.6rem;
  padding-bottom: 3.6rem;



  @include media('<tablet') {
    padding: 4rem;
   }

  @include media('<phone') {
    flex-direction: column;
    gap: 4rem;
   }
}

.footer_navigation {
  display: flex;
  gap: 3rem;
} 

.footer__navigation__list__link {
  @extend %text-16;
  color: $color-grey;
  transition: 150ms ease;

  &:hover {
    color: $color-black;
  }
} 

.footer__copyright {
  @extend %text-16;
  color: $color-grey;
}

.footer__button__back-to-top {
  @extend %text-16;
  display: flex;
  color: $color-grey;
  cursor: pointer;

  &:hover {
    color: $color-black;
    svg {
      fill: $color-black;
    }
  }

  svg {
    height: 1.4rem;
    width: 1.4rem;
    padding: 0 1rem;
  }
} 

