.footer__wrapper {
  max-width: 122rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // border-top: solid 1px $color-light-grey;
  padding-top: 7.6rem;
  padding-bottom: 3.6rem;



  @include media('<tablet') {
    max-width: 90rem;
   }

  @include media('<phone') {
    flex-direction: column;
    min-height: 24rem;
   }
}

.footer_navigation {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
} 

.footer__navigation__list__link {
  @extend %text-16;
  color: $color-grey;
  transition: 150ms ease;
  @include media('<phone'){
    font-size: 2rem;
  }

  &:hover {
    color: $color-black;
  }
} 

.footer__copyright {
  @extend %text-16;
  color: $color-grey;

  @include media('<phone'){
    font-size: 2rem;
  }
}

.footer__button__back-to-top {
  @extend %text-16;
  display: flex;
  color: $color-grey;
  cursor: pointer;
  @include media('<phone'){
    font-size: 2rem;
  }

  &:hover {
    color: $color-black;
    svg {
      fill: $color-black;
    }
  }

  svg {
    height: 1.4rem;
    width: 1.4rem;
    padding: 0 1rem;
    @include media('<phone'){
      height: 2rem;
      width: 2rem;
    }
  }
} 

