.header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: $color-white-transparent;
  backdrop-filter: blur(8px);

  &__inner {
    display: flex;
    justify-content: space-between;
    padding-top: $spacing-small;
    padding-bottom: $spacing-small;
  }

  &__logo__link {
    @extend %title-18;
    color: $color-black;
  }

  .navigation__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0 clamp(4rem,1rem + .47vw,1.33rem);
    margin: 0;
  
    &__link {
      @extend %title-18;
      color: $color-black;
    
      &:hover {
        color: $color-grey;
        transition: .1s ease;
      } 
    }
  }
}

