.header {
  background-color: $color-white-transparent;
  backdrop-filter: blur(8px);
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 1;

}

.header__wrapper {
  margin: 0 auto;
  padding: 2rem;
  max-width: 144rem;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.header__logo__link {
  @extend %title-18;
  color: $color-black;
}

.navigation__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0 clamp(4rem,1rem + .47vw,1.33rem);
  margin: 0;
}

.navigation__list__link {
  @extend %title-18;
  color: $color-black;
}



