.header {
  background-color: $color-white-transparent;
  backdrop-filter: blur(8px);
  max-width: 100%;
  position: sticky;
  top: 0;
  z-index: 1;
}
.header__wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

.header__inner {
  display: flex;
  justify-content: flex-end;
}

.header__navigation {

}
#primary-navigation {

}

.navigation__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0 clamp(4rem,1rem + .47vw,1.33rem);
  margin: 0;

}

.navigation__list__item {

&:last-child {

}

}

.navigation__list__link {
  @extend %title-16;

  color: $color-black;



}



