%text-16 {
  font-size: 1.6rem;
}

%text-18 {
  font-size: 1.8rem;
}
%text-20 {
  font-size: 2rem;
}
%text-24 {
  font-size: 2.4rem;
  color: $color-black;
  line-height: 3.6rem;
  @include media('<phone') {
    font-size: 3rem;
    line-height: 4rem;
  }
}
%text-32 {
  font-size: 3.2rem;
}


