%title-14 {
  font-family: $font-brandon;
  font-size: 1.4rem;
}


%title-16 {
  font-family: $font-brandon;
  font-size: 1.6rem;
}

%title-18 {
  font-family: $font-brandon;
  font-size: 1.8rem;
}

%title-36 {
  font-family: $font-brandon;
  font-size: 3.6rem;
  font-weight: 600;
}

%title-40 {
  font-family: $font-brandon;
  font-size: 4rem;
  font-weight: 600;
}
