.intro__gradient__ribbon {
  position: absolute;
  top: 49.4rem;
  right: 20.8rem;
  height: 12.7rem;
  width: 74.8rem;
  background: $gradient-300;
  z-index: 3;
  @include media('<tablet') {
    top: 38.4rem;
    right: 15.8rem;
    height: 8rem;
    width: 49.8rem;
  }
  @include media('<phone') {
    display: none;
  }
}

.about__gradient__ribbon {
  position: absolute;
  top: 43rem;
  left: -10rem;
  height: 12.3rem;
  width: 52.8rem;
  background: $gradient-100; 
  @include media('<tablet') {
    display: none;
  }
}

.about__orange__ribbon {
  position: absolute;
  height: 3.3rem;
  width: 19.7rem;
  top: 47rem;
  left: 33rem;
  background-color: $color-orange;
  z-index: 2;
  @include media('<tablet') {
    display: none;
  }
  @include media('<phone') {
    display: initial;
    transform: rotate(-90deg);
    height: 11.6rem;
    width: 35.7rem;
    top: 148rem;
    left: 47rem;
  }
}

.montage__orange__ribbon {
  position: absolute;
  height: 2.6rem;
  width: 19.7rem;
  top: 57.5rem;
  left: 28rem;
  background-color: $color-orange;
  opacity: 0;
  @include media('>phone') {
    display: none;
  }
}

.adoption__gradient__ribbon {
  position: absolute;
  top: 58rem;
  left: 30rem;
  height: 12.3rem;
  width: 83.5rem;
  background: $gradient-200;
  opacity: 0.5;
  @include media('<tablet') {
    display: none;
  }
}

.faq__gradient__ribbon {
  position: absolute;
  top: 20rem;
  right: -48rem;
  height: 9rem;
  width: 36rem;
  background: $gradient-200;
  @include media('<tablet') {
    display: none;
  }
  @include media('<phone') {
    display: none;
  }

  &:nth-of-type(2) {
    position: absolute;
    top: 50rem;
    left: -34rem;
    height: 12.5rem;
    width: 35rem;
    background: $gradient-100;
  }

  &:nth-of-type(3) {
    position: absolute;
    top: 82rem;
    height: 15rem;
    width: 100rem;
    background: $gradient-200;
  }
}
