.intro__gradient__square {
  height: 14.8rem;
  width: 14.6rem;
  position: absolute;
  background: linear-gradient(90deg, #C4C4C4 0%, rgba(249, 247, 255, 0) 100%);
  top: -4.5rem;
  left: 58rem;
  z-index: -1;
}
