.intro__gradient__square {
  position: absolute;
  top: -4.5rem;
  left: 58rem;
  height: 14.8rem;
  width: 14.6rem;
  z-index: -1;
  background: $gradient-100;
  @include media('<tablet') {
    top: -2.5rem;
    left: 43rem;
    height: 8rem;
    width: 8rem;
  }
  @include media('<phone') {
    display: none;
  }
}

.adoption__gradient__square {
  position: absolute;
  top: -2rem;
  left: 58rem;
  height: 14.8rem;
  width: 14.6rem;
  z-index: -1;
  background: $gradient-100;
  @include media('<tablet') {
    display: none;
  }
}