.intro__gradient__square {
  position: absolute;
  top: -4.5rem;
  left: 58rem;
  height: 14.8rem;
  width: 14.6rem;
  z-index: -1;
  background: $gradient-100;
}

.adoption__gradient__square {
  position: absolute;
  top: -2rem;
  left: 58rem;
  height: 14.8rem;
  width: 14.6rem;
  z-index: -1;
  background: $gradient-100;
}