// Adds consitent space and padding for each full section
.panel {
  margin: $spacing-medium 0;
  padding: $spacing-medium 0;
  @include media('<phone') {
    margin: 2rem 0;
    padding: 2rem 0;
  }
}