$color-white: #fff;
$color-white-transparent: rgba(255,255,255,0.5);
$color-light-grey: #FAFBFC;
$color-grey: #9B9B9B;
$color-black: #2C2C2C;
$color-purple: #7F00E0;
$color-blue-grey: #C3D1D2;


$font-brandon: 'brandon-grotesque', sans-serif;

$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);

$z-indexes: (
  'navigation',
  'content'
);