$color-white: #fff;
$color-white-transparent: rgba(255,255,255,0.5);
$color-light-grey: #FAFBFC;
$color-grey: #939393;
$color-black: #262626;
$color-dark-grey: #5c5c5c;
$color-light-purple: #F8EAFF;
$color-purple: #7F00E0;
$color-blue-grey: #C3D1D2;


$font-brandon: 'brandon-grotesque', sans-serif;

$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);

$z-indexes: (
  'navigation',
  'content'
);