.wrapper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  max-width: $content-width;
  
  @include media('<tablet') {
    max-width: 90rem;
  }
  @include media('<phone') {
    max-width: calc(100% - 10rem);
    // min-height: calc(90vh - 7.2rem);
    // display: grid;
    // place-content: center;
   }
}