html {  
  font-size: calc(100vw / 1920 * 10);
  scroll-behavior: smooth;

  @include media('<tablet') {
    font-size: calc(100vw / 1024 * 10);
  }

  @include media('<phone') {
    font-size: calc(100vw / 750 * 10);
  }
}

body {
  font-family: $font-brandon;
  background-color: $color-white;
}

.content {
  @include media('<tablet') {
    padding: 4rem;
   }

   @include media('<phone') {
    padding: 0rem;
  }
}