.about__mobile__wrapper {
  display: none;
  
  @include media('<phone') {
    max-width: calc(100% - 6rem);
    min-height: calc(100vh - 7.2rem);
    display: grid;
    place-content: center;
    background-color: $color-white;
    margin-left: auto;
    margin-right: auto;
    position: relative;
   }
}

.about {
  @include media('<phone') {
    background-color: $color-white;
  }
  &__inner {
    display: flex;
    flex-direction: row-reverse;
  
    @include media('<phone') {
      width: 100%;
    }
    @include media('<phone') {
      flex-direction: column;
    }
  }

  &__text-content {
    margin-top: 2.4rem;
    margin-left: 18rem;
    @include media('<tablet') {
      margin-left: 10rem;
    }
    @include media('<phone') {
      margin: 0 auto;
      h2 {
        display: none;
      }

      p {
        margin-top: 4rem;
        font-size: 3.6rem;
        line-height: 6rem;
        color: $color-black;
    
        &:nth-child(1) {
          
        }
      }
    }
  }

  
  &__media {
    width: 100%;
    margin-left: 10rem;
    @include media('<tablet') {
     margin-left: 0;
     align-self: center;
    }
    @include media('<phone') {
    }

    &__image {
      object-fit: cover;
      @include media('<phone') {
        height: 50rem;
        display: none;
      }
    }
  }

  &__media__mobile {
    display: none;
    @include media('<phone') {
      margin-top: 5rem;  
      width: 100%;
      display: grid;
      place-items: center;
      display: none;
    }

    &-image {
      object-fit: cover;
      height: 20rem;
      filter: grayscale(1);
      border: solid 3px white;
      border-radius: 50px;
    }

  }
}