.about {
  &__inner {
    display: flex;
    flex-direction: row-reverse;
  
    @include media('<phone') {
      width: 100%;
    }
    @include media('<phone') {
      flex-direction: column;
    }
  }

  &__text-content {
    margin-top: 2.4rem;
    margin-left: 18rem;
    @include media('<tablet') {
      margin-left: 10rem;
    }
    @include media('<phone') {
      margin: 0 auto;
    }
  }

  
  &__media {
    width: 100%;
    margin-left: 10rem;
    @include media('<tablet') {
     margin-left: 0;
     align-self: center;
    }
    @include media('<phone') {
      margin-top: 3rem;
    }

    &__image {
      object-fit: cover;
      @include media('<phone') {
        height: 50rem;
      }
    }
  }
}