.adoption {
  
  
  &__inner {
    display: flex;
    @include media('<phone') {
      display: block;
     
    }
  }
  
  &__text-content {
    margin-top: 10rem;
    margin-right: 8rem; 
    width: fit-content;
    @include media('<tablet') {
      margin-top: 0rem;
      margin-right: 5rem;
      align-self: center;
    }
    @include media('<phone') {
      margin: 0;

      h2 {
        color: $color-white;
        text-align: center;
        font-size: 5rem;
        display: none;
      }

      p {
        margin-top: 4rem;
        font-size: 3.6rem;
        line-height: 6rem;
        color: $color-black;

        &:nth-child(1) {
        }
      }
    }
  }
  
  &__media {
    width: 100%;
    @include media('<phone') {
      display: none;
    }
    &__image {
      object-fit: cover;
    }
  }
}










