.adoption__inner {
  display: flex;

  @include media('<phone') {
    width: 100%;
  }
}

.adoption__text-content {
  margin-top: 10rem;
  margin-right: 10rem;
  width: fit-content;

  .adoption__title {
    @extend %title-40;
  }

  p {
    @extend %text-24;
    margin-top: 2.8rem;
  }

  @include media('<phone') {
    margin-top: 2.4rem;
  }
}


.adoption__media {
  width: 100%;
  
 

  @include media('<phone') {
    margin-top: 4rem;
   }
}


.adoption__media__image {
  object-fit: cover;
  height: 60rem;


}






