//- FAQ

.faq {
  background-color: $color-blue-grey;

}
.faq__wrapper {
  max-width: 900px;
  margin: 0 auto;
  gap: 8rem;
  min-height: 100vh;
  padding: 4rem;

}
.faq__title {
  @extend %title-40;
  padding-top: 4rem;
  margin-bottom: 6rem;
}
.faq__question {
  margin-bottom: 3rem;
  padding-bottom: 2rem;
  @extend %text-24;
  border-bottom: solid 1px $color-black;
  cursor: pointer;
}
.faq__answer {
  @extend %text-18;
  margin-bottom: 2rem;
  display: none;
}