.hero__title {
  @extend %title-60;
  margin-top: 12rem;
  max-width: 24ch;
  line-height: 6rem;

  @include media('<tablet') {
    font-size: 7rem;
  }

  @include media('<phone') {
    margin-top: 0rem;
    line-height: 1;
   }
}







