.hero {
  @include media('<phone') {
    min-height: 30vh;
    display: grid;
    // place-content: center;
  }

  
  .hero__title {
    @extend %title-60;
    margin-top: 12rem;
    max-width: 24ch;
    line-height: 6rem;
  
    @include media('<phone') {
      
     }
  }
}








