
.home {

}
.home__wrapper {

  
}

.home__hero {

}


.home__hero__wrapper{
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  gap: 3rem;
  min-height: 100vh;
  overflow-x: hidden;
}

.home__hero__text {
  display: flex;
  align-self: center;
  flex-direction: column;
  position: relative;
  width: 66%;
}


.home__hero__logo {
  @extend %text-24;

  color: $color-grey;
  font-weight: 400;
  padding-left: 5.5rem;


    &:after {
    content: "";
    position: absolute;
    top: 1.2rem;
    left: 0;
    height: 0.05rem;
    width: 5rem;
    background-color: $color-grey;
  }


}

.home__hero__title {
  @extend %title-36;


  letter-spacing: -0.25%;
  margin-bottom: 5rem;
  line-height: 1.25;
}

.home__hero__button {
  
  
}

.home__hero__button__link {
  @extend %title-14;

  border: 2px solid $color-black;
  border-radius: 2px;

  text-transform: uppercase;
  
 
  background-color: $color-black;
  color: $color-white;

  padding: 1.3rem 3rem;
}




.home__hero__image {
  width: 33%;
  align-self: center;
  height: 100%;
  object-fit: cover;

  z-index: -1;
}





