
.home {
 
}
.home__wrapper {



 
}

.home__hero {
}


.home__hero__wrapper{
  margin-left: 12.2rem;
  position: relative;
  display: flex;
  gap: 4.6rem;
}

.home__hero__text {
  display: flex;
  align-self: center;
  flex-direction: column;
  position: relative;
}



.home__hero__title {
  @extend %title-40;
  line-height: 5rem;
  letter-spacing: -0.25%;
  margin-bottom: 3rem; 
}

.home__hero__button {
  
  
}

.home__hero__button__link {
  @extend %title-14;
  border: 2px solid $color-black;
  border-radius: 2px;
  text-transform: uppercase;
  background-color: $color-black;
  color: $color-white;
  padding: 1rem 2.4rem;
  cursor: pointer;
}




.home__hero__image {
  margin-top: -6rem;
  z-index: -99;
  width: 100rem;

}





