//- INTRO
.intro {
 
}

.intro__wrapper {
  display: flex;
  margin: 20rem auto;
  position: relative;
  max-width: 122rem;
  
  .intro--right & {
    flex-direction: row-reverse;
  }
}


.intro__text__wrapper {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 59rem;

  .intro:nth-child(5) & {
    width: 64.8rem;
  }

  p {
    @extend %text-24;
    margin-top: 2.8rem;
  }
}

.intro__title {
  @extend %title-40;

  .intro:nth-child(5) & {
    @extend %title-60;
  }
}


.intro__text {
 
}


.intro__media {
  position: relative;

  .intro:nth-child(2) & {
    height: 65.4rem;
    width: 57.5rem;
    margin-left: 5.2rem;
  }

  .intro:nth-child(3) & {
    margin-right: 15rem;
    height: 50.2rem;
    width: 33.5rem;
  }

  .intro:nth-child(4) & {
    height: 65.4rem;
    width: 57.5rem;
    margin-left: 5.2rem;
  }

  .intro:nth-child(5) & {
    height: 62.2rem;
    width: 83.3rem;
    margin-left: -5.2rem;
    z-index: -1;
  }



}

.intro__media__image {
  
  object-fit: cover;
  // @extend %cover;

}